{% extends 'bootstrap/base.html' %}

{% block content %}
<script type="text/javascript">
    function redirect_()
    {
        var radios = document.getElementByName('curve');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                var url = 'https://127.0.0.1:8443/issue_cert?curve=' + radios[i];
                location.href =url;
                break;
            }
        }
    }
</script>


<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox"> Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>


<h2>TS</h2>
<form>
    <p>Please select hash:</p>
    <div>
      <input type="radio" id="h256"
       name="hash" value="bash256" checked>
      <label for="b256">bash256</label>
  
      <input type="radio" id="b384"
       name="hash" value="bash384">
      <label for="b384">bash384</label>
  
      <input type="radio" id="b512"
       name="hash" value="bash512">
      <label for="b512">bash512</label>
    </div>
    <p>Enter filename:</p>
    <div>
        <input type="text" id="file" value="tsa.sh">
    </div>
    <p>Nonce:</p>
    <div>
        <input type="text" id="nonce" value="False">
    </div>
    <div>
      <button type="submit" OnClick="redirect_()">Отправить запрос</button>
    </div>
</form>
{% endblock %}
